body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Helvetica, san-serif;
  background: -webkit-linear-gradient(
    90deg,
    #00aaee 10%,
    #dd2476 90%
  ); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(
    90deg,
    #00aaee 10%,
    #dd2476 90%
  ); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #00aaee 10%, #dd2476 90%); /* IE10 */
  background: -o-linear-gradient(
    90deg,
    #00aaee 10%,
    #dd2476 90%
  ); /* Opera 11.10+ */
  background: linear-gradient(90deg, #00aaee 10%, #dd2476 90%); /* W3C */
}
